<!-- index.html -->
<!DOCTYPE html>
<html ng-app="main-app" ng-controller="main-ctrl">
    <head>
        <title>Domino Power!</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <script type ="text/javascript" src="js/domino.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <link rel="stylesheet" href="css/domino.css">
        <link rel="icon" href="//sleepy-tor-7355.herokuapp.com/favicon.ico" type="image/x-icon">
    </head>
    <body style="padding: 20px;">
        <div class = "container">
            <div class="jumbotron">
                <h1 id="main-heading" class="text-center">Domino Power!</h1>
                <div id="main-container" class="container">
                    <div class="row">
                        <div class="well col-md-4" >
                            <form class="text-center">
                                <div class="form-group">
                                    <label>Number of Dominoes:</label>
                                    <input class="text-center" type="number" ng-model="numDom" placeholder="Pick a number">
                                </div>
                                    <button id="how-big-btn" class="btn btn-primary" ng-click="countDomino(numDom)">How Big?&nbsp;&nbsp;<i class="fa fa-arrows-alt"></i></button>
                            </form>
                            
                            <div>
                                <h4 class="alert alert-warning" ng-show="warningShow">{{message}}</h4>
                                <h3>{{result.height}}</h3>
                                <h3>{{result.width}}</h3>
                                <h3>{{result.thick}}</h3>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="well"> 
                                <div ng-show="hidden">
                                    <h4><a href ="https://www.insidescience.org/content/dominoes-more-powerful-you-think/924">Growing Power of a Falling Domino</a></h4>
                                    <p>Scientist have found that dominoes have enough potential energy that they are able to knock down a domino that is 1.67 times its own size.  This is an illustration that shows how big the dominoes would be.</p>
                                    <p><b>Pick a domino between 8 and 27 for comparison.</b></p>
                                </div>
                                <div ng-hide="hidden" style="height: 350px;">
                                    <h4 id="big-as">About as tall as:  
                                        <span><a ng-href="{{result.nar.link}}" target="_blank">{{result.nar.name}}</a></span>
                                    </h4>
                                    <p id="result-desc">
                                        <img align="left" style="max-height: 300px; max-width:300px; padding: 20px;" ng-src="{{result.nar.img}}">
                                        {{result.nar.desc}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>