#main-heading{
    position: relative;
    top: -30px;
}

#main-container{
    margin-top: 30px;
}
.jumbotron{
    background-image:url("imgs/domino-falling.png");
}
#big-as span{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10px;
}
#result-desc{
    padding-top:20px;
}